header {

    .top-header {
        padding: 8px 0px;
        background-color: #ececec;
        
        .col-md-12 {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
        
            a {
                margin-right: 40px;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                color: #000;
        
                &:first-child {
                    margin-right: 0px;
                }
            }
        }
    }

    nav.navbar {
        padding: 12px 0px;
        margin: 0px;
        border-radius: 0px;
        border: none;
        background-color: #FFF;

        .row {

            .col-md-3 {

                .navbar-header {
                    
                    .navbar-brand {
                        height: auto;
                        margin-left: 0px;
                        padding: 0px 0px 0px 0px;
                    }

                    .navbar-toggle {
                        margin-right: 0px;
                    }
                }
            }

            .col-md-9 {

                .navbar-nav {
                    
                    li {

                        a {
                            font-size: 18px;
                            color: #000;

                            &.active,
                            &:hover {
                                color: #00a1ff;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media  (min-width: $screen-md) and (max-width: $screen-lg) {

    header {

        nav.navbar {

            .row {

                .col-md-9 {

                    .navbar-nav {
                        
                        li {

                            a {
                                padding: 15px 10px;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-md) {
    
    header {

        nav.navbar {

            .row {

                .col-md-9 {

                    .navbar-nav {
                        
                        li {

                            a {
                                padding: 10px 5px;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-sm) {

    header {

        .top-header {
            
            .col-md-12 {
                flex-direction: column;
                align-content: center;

                a {
                    margin-right: 0px;
                    text-align: center;
                }
            }
        }

        nav.navbar {

            .row {

                .col-md-9 {

                    .navbar-nav {
                        
                        li {

                            a {
                                padding: 10px 0px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}