.home-banner {
    padding: 150px 0px 170px 0px;
    background: transparent url('../img/banner-home.jpg') center center / cover no-repeat;
    
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;

        h1 {
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            font-size: 47px;
            color: #FFF;
        }

        h2 {
            margin-top: 5px;
            font-family: 'Titillium Web', sans-serif;
            font-weight: 400;
            font-size: 38px;
            color: #acd72f;
        }

        a {
            text-decoration: none;
            margin-top: 30px;
            padding: 15px 45px;
            background-color: #00a1ff;
            font-weight: 700;
            font-size: 18px;
            color: #FFF;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
    }
}

.home-carousel {
    padding: 30px 0px 25px 0px;

    .col-md-1 {
        height: 110px;
        cursor: pointer;

        &:nth-of-type(1) {
            background: transparent url('../img/arrow-carousel-left.png') center center no-repeat;
        }
        &:nth-of-type(3) {
            background: transparent url('../img/arrow-carousel-right.png') center center no-repeat;
        }
    }
    
    .col-md-10 {

        .owl-carousel-main {
            
            .item {
                display: flex;
                align-items: center;
                flex-direction: column;
                
                img {
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: $screen-sm) {

    .home-banner {
        padding: 50px 0px 50px 0px;

        .container {
            align-items: center;
            text-align: center;
        }
    }
}