.home-banner {
    padding: 150px 0px 170px 0px;
    background: transparent url('../img/banner-home.jpg') center center / cover no-repeat;
    
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;

        h1 {
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            font-size: 47px;
            color: #FFF;
        }

        h2 {
            margin-top: 5px;
            font-family: 'Titillium Web', sans-serif;
            font-weight: 400;
            font-size: 38px;
            color: #acd72f;
        }

        a {
            text-decoration: none;
            margin-top: 30px;
            padding: 15px 45px;
            background-color: #00a1ff;
            font-weight: 700;
            font-size: 18px;
            color: #FFF;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
    }
}

.home-carousel {
    padding: 30px 0px 25px 0px;

    .col-md-1 {
        height: 110px;
        cursor: pointer;

        &:nth-of-type(1) {
            background: transparent url('../img/arrow-carousel-left.png') center center no-repeat;
        }
        &:nth-of-type(3) {
            background: transparent url('../img/arrow-carousel-right.png') center center no-repeat;
        }
    }
    
    .col-md-10 {

        .owl-carousel-main {
            
            .item {
                display: flex;
                align-items: center;
                flex-direction: column;
                
                img {
                    width: auto;
                }
            }
        }
    }
}

.home-block-services {
    padding: 50px 0px 70px 0px;
    background-color: #213364;

    .row {

        &:nth-of-type(1) {

            .col-md-6 {

                &:nth-of-type(1) {

                    h2 {
                        margin: 30px 0px 90px 0px;
                        font-weight: 700;
                        font-size: 13px;
                        color: #3c60c0;
                    }

                    h3 {
                        margin: 0px 0px 25px 0px;
                        font-family: 'Titillium Web', sans-serif;
                        font-size: 38px;
                        color: #FFF;
                    }

                    p {
                        margin: 0px 0px 20px 0px;
                        line-height: 30px;
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        color: #FFF;
                    }

                    a {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 700;
                        font-size: 16px;
                        color: #FFF;
                    }
                }

                &:nth-of-type(2) {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                }
            }
        }

        &:nth-of-type(2) {
            
            hr {
                margin: 0px;
                border-color: #1b71b3;
            }
        }
        
        &:nth-of-type(3) {
            
            .col-md-4 {
                padding-top: 50px;
                
                h4 {
                    margin: 25px 0px 17px 0px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    color: #acd72f;
                }
                
                p {
                    font-family: 'Roboto', sans-serif;
                    line-height: 30px;
                    font-size: 16px;
                    color: #FFF;
                }
                
                a {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    color: #FFF;

                    span {
                        top: 0px;
                        margin-left: 5px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.home-block-services-public {
    padding: 130px 0px 150px 0px;
    background:#FFF url('../img/bg-home-block-services.jpg') center center / cover no-repeat;

    .row {

        &:nth-of-type(1) {

            .col-md-6 {

                &:nth-of-type(1) {

                    h2 {
                        margin: 0px 0px 40px 0px;
                        font-weight: 700;
                        font-size: 13px;
                        color: #cfcfcf;
                    }

                    h3 {
                        margin: 0px 0px 25px 0px;
                        font-family: 'Titillium Web', sans-serif;
                        font-size: 38px;
                        color: #000;
                    }

                    p {
                        margin: 0px 0px 20px 0px;
                        line-height: 30px;
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        color: #646464;
                    }
                }

                &:nth-of-type(2) {
                    min-height: 207px;
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: flex-end;
                    
                    a {
                        padding: 10px 40px;
                        border-color: #FFF;
                        font-family: 'Roboto', sans-serif;
                        font-size: 300;
                        font-size: 18px;
                        color: #000;
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}

.home-block-about-us {

    hr {
        margin: 40px 0px 0px 0px;
        border-color: #dadada;
    }

    .row {
    
        &:nth-of-type(2) {
            
            .col-md-6 {
                padding-top: 65px;

                h2 {
                    margin: 0px 0px 50px 0px;
                    font-weight: 700;
                    font-size: 13px;
                    color: #cfcfcf;
                }

                h3 {
                    margin: 0px 0px 25px 0px;
                    font-family: 'Titillium Web', sans-serif;
                    font-size: 38px;
                    color: #000;
                }

                p {
                    margin: 0px 0px 35px 0px;
                    line-height: 30px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    color: #646464;
                }

                a {
                    padding: 6px 40px;
                    border-color: #00a1ff;
                    background-color: #00a1ff;
                    font-weight: 500;
                    font-size: 18px;
                    color: #FFF;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

.home-carousel-services-public {
    margin-top: -65px;
    padding: 0px 0px 25px 0px;

    .col-md-1 {
        height: 187px;
        cursor: pointer;

        &:nth-of-type(1) {
            background: transparent url('../img/arrow-carousel-left.png') left center no-repeat;
        }
        &:nth-of-type(3) {
            background: transparent url('../img/arrow-carousel-right.png') right center no-repeat;
        }
    }
    
    .col-md-10 {

        .owl-carousel-services-public {
            
            .item {
                
                img {
                    width: 100%;
                }

                h2 {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 600;
                    font-size: 19px;
                    color: #000;
                }

                p {
                    margin-bottom: 20px;
                    font-family: 'Roboto', sans-serif;
                    line-height: 26px;
                    font-weight: 400;
                    font-size: 16px;
                    color: #000;
                }

                a {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    color: #000;

                    span {
                        top: 0px;
                        margin-left: 5px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

.home-block-blog {
    padding-bottom: 130px;
    
    hr {
        margin: 75px 0px;
        border-color: #dadada;
    }

    .row {

        &:nth-of-type(2) {
            
            .col-md-6 {
                display: flex;
                flex-direction: column;

               h2 {
                    margin: 0px 0px 30px 0px;
                    font-weight: 700;
                    font-size: 13px;
                    color: #cfcfcf;
                }

                h3 {
                    margin: 0px;
                    font-family: 'Titillium Web', sans-serif;
                    font-size: 38px;
                    color: #000;
                }
                
                a {
                    margin-top: 43px;
                    padding: 6px 40px;
                    border: 2px solid #00a1ff;
                    background-color: #FFF;
                    font-weight: 300;
                    font-size: 18px;
                    color: #000;
                    align-self: flex-end;
                }            
            }
        }

        &:nth-of-type(3) {
            padding-left: 9px;
            padding-right: 9px;

            .col-md-3 {
                padding: 30px 5px 0px 5px;

                img {
                    width: 100%;
                }

                h2 {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: 20px;
                    color: #000;
                }

                p {
                    line-height: 28px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    color: #646464;
                }
            }
        }
    }
}

.home-block-footer-our-services {
    padding: 40px 0px;
    border-top: 1px solid #dadada;

    .col-md-8 {

        p {
            margin: 0px;
            padding-top: 4px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 22px;
            color: #000;

            span {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 22px;
                color: #acd72f;
            }
        }
    }
    
    .col-md-4 {
        display: flex;
        flex-direction: column;
        
        a {
            padding: 6px 40px;
            border-color: #00a1ff;
            background-color: #00a1ff;
            font-weight: 700;
            font-size: 18px;
            color: #FFF;
            align-self: flex-end;
        }
    }
}

@media (max-width: $screen-md) {
    
    .home-block-services-public {
        
        .row {
            
            &:nth-of-type(1) {
                
                .col-md-6 {
                    
                    &:nth-of-type(2) {
                        min-height: auto;
                    }
                }
            }
        }
    }

    .home-block-blog {
        padding-bottom: 70px;
    }

    .home-block-footer-our-services {

        .col-md-8 {

            p {
                text-align: center
            }
        }
        
        .col-md-4 {
            
            a {
                margin-top: 30px;
                align-self: center;
            }
        }
    }
}

@media (max-width: $screen-sm) {

    .home-banner {
        padding: 50px 0px 50px 0px;

        .container {
            align-items: center;
            text-align: center;
        }
    }

     .home-block-services-public {
        padding: 70px 0px 150px 0px;
        
        .row {
            
            &:nth-of-type(1) {
                
                .col-md-6 {
                    
                    &:nth-of-type(2) {
                        align-items: center;
                    }
                }
            }
        }
    }

    .home-block-blog {

        .row {

            &:nth-of-type(2) {
                
                .col-md-6 {

                    a {
                        align-self: center;
                    }
                }
            }
        }
    }
}